header {
  padding-bottom: 80px;

  &.page__our-coffee {
    background: url('./images/background.jpg') no-repeat 50% 50% / cover;
  }
  &.page__mainpage {
    background: url('./images/mainpage-bg.jpg') no-repeat 50% 50% / cover;
  }
  &.page__about {
    background: url('./images/about-bg.jpg') no-repeat 50% 50% / cover;
  }

  h1 {
    text-align: center;
    color: #fff;
    font-size: 2.6rem;
    padding-top: 60px;
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
  }
}
